In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('rawdata.csv')
data.head()

,date,time,sensor,location,number,activity,position,location.1
0,1-16-2024,10.10.30 AM,0.0,A1,1,placed,inside,A1
1,1-16-2024,10.12.30 AM,1.0,A2,1,picked,inside,A2
2,1-16-2024,10.28.30 AM,1.0,A3,1,picked,Inside,A3
3,1-16-2024,10.38.20 AM,0.0,A4,1,placed,Inside,A4
4,1-16-2024,10.45.20 AM,1.0,A5,1,placed,inside,A5

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.1+ KB

In [44]:
data['date'] = pd.to_datetime(data['date'])

In [45]:
data = data.sort_values(by='DateTime')

In [46]:
data['Duration'] = data.groupby('location')['DateTime'].diff()

In [47]:
data['Duration']

44                NaT
46                NaT
47                NaT
48                NaT
49                NaT
            ...
143   0 days 04:18:32
144   0 days 04:15:50
145   0 days 05:41:40
146   0 days 05:42:25
147   0 days 05:59:30
Name: Duration, Length: 141, dtype: timedelta64[ns]

In [48]:
data = data.dropna(subset=['Duration'])

*Datewise total duration for each inside and outside*

In [53]:
duration_summary = data.groupby(['date', 'location','position'])['Duration'].sum().reset_index()

In [54]:
print(duration_summary)

         date location position        Duration
0  2024-01-16       A1   inside 0 days 09:10:10
1  2024-01-16      A10   inside 0 days 10:11:00
2  2024-01-16      A11   inside 0 days 10:15:00
3  2024-01-16      A12   inside 0 days 10:17:00
4  2024-01-16      A13   inside 0 days 10:21:00
..        ...      ...      ...             ...
76 2024-01-18       A6  outside 0 days 02:15:45
77 2024-01-18       A7   Inside 0 days 02:28:33
78 2024-01-18       A7   inside 1 days 01:51:10
79 2024-01-18       A8   inside 1 days 04:26:10
80 2024-01-18       A9   inside 1 days 04:23:10

[81 rows x 4 columns]

In [51]:
duration_summary.to_csv('duration_summary.csv', index=False)

In [52]:
df= pd.read_csv('duration_summary.csv')
df.head()

         date location         Duration
0  2024-01-16       A1  0 days 09:10:10
1  2024-01-16      A10  0 days 10:11:00
2  2024-01-16      A11  0 days 10:15:00
3  2024-01-16      A12  0 days 10:17:00
4  2024-01-16      A13  0 days 10:21:00

*Datewise number of picking and placing activity done*

In [40]:
activity_count = data.groupby(['date', 'activity']).size().unstack(fill_value=0)

In [41]:
activity_count.columns = ['placing', 'picking']

In [42]:
print(activity_count)

            placing  picking
date
2024-01-16       26       26
2024-01-17       10        9
2024-01-18       34       36

In [43]:
activity_count.to_csv('activity_count.csv')